*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.containerPage{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%; padding: 10px; height: auto; min-height: 70px; background-color: rgb(78, 78, 247);
    text-align: center;
}
header h1{
    font-size: 1.1em; font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: azure;

}
header h5{
    color: rgb(252, 91, 193);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}
main{
    width: 100%;
     min-height: calc(100vh - 70px);
     height: auto;
     display: flex; flex-direction: column;
     
}

.box{
    width: 80%;
    min-height: 180px;
    height: auto;
    padding: 10px;
    margin: 20px 10%;
    
}
.biglietteria{
    display: flex; flex-direction: column;
}
.biglietteria input{
    width: 70%;
    height: 50px;
    margin: 5px 15%;
    border: none; outline: none; 
    text-align: center;
    background-color: rgb(103, 199, 103);
    
}
input::placeholder{
    color: white;
    font-size: 1.1em;
    letter-spacing: 2px;
}
input:focus{
    background-color: black;
    color: lime;
}
.biglietteria select{
    width: 70%;
    height: 50px;
    margin: 10px 15%;
    border: none; outline: none;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    
}
.bottoni{
    width: 200px;
    height: 80px;
    margin-left:22.5%;
    display: flex; flex-direction: column;


}
.bottoni button{
    width: 90%;
    height: 40px;
    margin: 5px 5%;
    outline: none; border: none;
    cursor: pointer;
}
#genera{
    background-color: lightgreen;
}
#annulla{
    background-color: rgb(238, 56, 56);
    color: white;
}
.biglietto{
    min-height: 350px;
   display: none;
    background-color:dodgerblue;
}


.cella{
    width: 100%;
    height: 150px;
   border: 1px solid white;
    margin-top: 10px;
    display: flex; flex-direction: row;
    
}
.nome{
    width: 400px;
    height: 130px;
    border: 1px solid whitesmoke;
    margin: 10px;
    display: flex; flex-direction: column; justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: rgb(252, 252, 252);
    font-size: 0.8em;
    padding: 5px;
}
.posto{
    width: 100px;
    height: 130px;
    border: 1px solid white;
    margin: 10px;
    display: flex; flex-direction: column; justify-content: center;
     color: rgb(252, 252, 252);font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 0.8em;
     padding: 5px;
}
.costo{
    width: 300px;
    height: 140px;
    background-color: lightgreen;
    margin: 5px 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(56, 95, 129);
}

